*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    width: 100%;
    height:100%;
    
}

#left{
    position: relative;
    width: 40%;
    height: 100%;
}

#left #textcenter{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

}

#textcenter h1{
    font-size: 90px;
    font-weight: 800;
}

#textcenter p{
    opacity: .6;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;
}

#textcenter a{
    opacity: .6;
    font-size: 13px;
    font-weight: 900;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid black;
    padding-bottom: 5px;

}

#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

#lnavr{
    display: flex;
    align-items: center;
}

#lnavr a{
    margin-right: 15px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: #000;
}

#lnavr i{
    color: royalblue;
}

#right{
    width: 60%;
    height: 100%;
    background-color: white;
}

#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: green;
}
#rbottom{
    width: 100%;
    height: 50%;
   background-image: url(https://images.unsplash.com/reserve/RNm0KceQ4Gbpb0xldOe7_DSC_0679_2.JPG?q=80&w=1813&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   background-position: center;
}

#rtop-left{
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1566393028639-d108a42c46a7?q=80&w=2043&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#rtop-right{
    width: 55%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1579523360595-bee0f3b9fafb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom;

}

@media(max-width: 500px){
    #main{
        flex-direction: column;
    }

    #main #left{
        width: 100%;
    }

    #main #right{
        width: 100%;
    }
}







